* {
    font-family: Arial, Helvetica, sans-serif;
}

.comparisonForm {
    width: 100%;
}

.comparisonForm__container {
    width: 100%;
}

.comparisonForm__section {
    margin-bottom: 20px;
}

.comparisonForm__btn {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

.comparisonForm__btn:hover {
    cursor: pointer;
    background-color: rgb(8, 80, 80);
}

.comparisonForm__graphic {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px solid blue;
}

.comparisonForm__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 100%;
    border: 1px solid rgb(13, 110, 110);
    top: 50%;
    transform: rotate(-90deg);
}

.comparisonForm__icon--first {
    background-color: rgb(180, 85, 85);
}

.comparisonForm__icon p {
    font-size: 0.8rem;
    margin: 1px 0;
}

input:disabled {
  background-color: white;
  border: 1px solid rgb(15, 110, 139);
  border-radius: 5px;
  color: black;
  padding: 5px 8px;
}

select {
    margin-right: 20px;
}

select:hover {
    cursor: pointer;
}
