* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.comparisonForm {
    width: 100%;
    height: 100%;
    display: flex;
}

.comparisonForm__container {
    width: 100%;
    margin-left: 10px;
}

.comparisonForm__section {
    margin-bottom: 20px;
}

.comparisonForm__btn {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

.comparisonForm__btn:hover {
    cursor: pointer;
    background-color: rgb(8, 80, 80);
}

.comparisonForm__graphic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 2px solid rgb(35, 41, 48);
    margin-top: 50px;
    margin-bottom: 200px;
}

.comparisonForm__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.comparisonForm__icon section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(13, 110, 110);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 3px rgba(5, 48, 48, 0.3);
}

.comparisonForm__icon--first section{
    background-color: rgb(168, 7, 120);
    box-shadow: 0px 2px 5px 3px rgba(168, 7, 120, 0.3);
}

.comparisonForm__icon--first .arrow-left{
    border-right: 10px solid rgb(168, 7, 120);
}

.comparisonForm__icon p {
    font-size: 1rem;
    margin: 1px 0;
    text-align: center;
    color: white;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(13, 110, 110); 
  }

input:disabled {
  background-color: white;
  border: 1px solid rgb(15, 110, 139);
  border-radius: 5px;
  color: black;
  padding: 5px 8px;
}

select {
    margin-right: 20px;
}

select:hover {
    cursor: pointer;
}
